/*
  Pragmatic JavaScript
  Chapter 3
  Programming Assignment

  Author: Jarren Bess
  Date: Dec 6, 2025
  Filename: styles.css
*/

/* Add your CSS styles here */
body {
  justify-items: center;
}

h2 {
  text-align: center;
}

.chefInfo {
  margin-top: 20px;
  padding-left: 20%;
}

.chef-container {
  margin-top: 8vh;
  margin-bottom: 2vh;
  width: 300px;
  height: 250px;
  border: 2px solid black;
  border-radius: 20px;
}

#error {
  width: 200px;
  text-align: center;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
}
