/*
  Pragmatic JavaScript
  Chapter 1
  Programming Assignment

  Author: Jarren Bess
  Date: Oct 28, 2025
  Filename: styles.css
*/

/* Your CSS goes here */
body {
  background-color: gray;
}

#mainContainer {
  margin: 10vw;
  text-align: center;
}

#characterOutput {
  margin: 20px;
}

.charRow {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 20px;
}

#characterOutput {
  display: flex;
  justify-content: space-evenly;
}

.charInfo {
  font-size: 2rem;
}
